@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Witaj w systemie do wyszukiwania osób zaginionych!</h1>
            <h4>Możesz tutaj dodać osobę zaginioną lub powiadomić o osobie odnalezionej, która znajduje się na liście osób zaginionych.</h4>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <pre>
Dane kontaktowe:
Nr Telefonu: <u>123 456 789</u>
Email:  <u>template@mail.com</u></pre>
    </div>
</footer>
