
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color:azure;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even):hover {
    background-color: yellow;
}

.seen {
    background-color: antiquewhite;
}